
#fundo{
  background: #6930F5  
}

#dali{
    color: #FF5B6B;
    text-align: left;
    margin-left: 10px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu{
    color: #FF5B6B;
    margin: 15px;
}

a {
    color: #FF5B6B;
    text-decoration: none;
    padding: 20px;
}

#h2{
    font: 2.2em sans-serif;
    margin: 10px auto;
    padding: 02px;
    color: #FF5B6B;
    
}


#butãocadastro {
    text-align: right;
    margin: 5px;
    top: 100px;
    
}

.button1 {
    border: none;
    color:#ffffff;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-style: solid ;
    border-color: #120F82;
    border-width: 1px 1px 5px 4px; /* 25px top, 10px right, 4px bottom and 35px left */
     
    
    
}
  
.button{
    background-color: #FF7E74 ;
  color: white;
  
}

p.inset {border-style: inset;}

.carrosel{
    padding: 100px;
    text-align: center;
    color: #fff;
}

#h1{
    color: #FF5B6B;
}

img{
    
    left: 100px;
    text-align: center;
    width: 400px;
    height: 350px;
    
}

#h4{
    top:auto;
    color: #fff;
    text-align: center;
    margin: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button2 {
  border: none;
  color:#ffffff;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-style: solid ;
  border-color: #120F82;
  border-width: 04px 1px 1px 4px; /* 25px top, 10px right, 4px bottom and 35px left */
   
  
}

.button{
    background-color: #FF7E74 ;
  color: white;
  
}

#butãodali{
   text-align: center;
}

#img2 {
    align-items: center;
    width: 100%;
    height: 60%;
    text-align: center;
    background-position: center;
    margin: 10px;
}



#msg {
    color: #fff;
    text-align: left;
    margin: 15px;
    padding: 05px;
}

#dali{
    color: #FF5B6B;
}

.mdqf{
    color:#FF5B6B;

}

#carroselh2{
  color: #fff;
  padding: 05px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.textooquefazemos{
    color: #fff;
    text-align: left;

}

.coluna6{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Dt {
   padding: 07px; 
   text-align: left; 
   border-style: inset; 
   color: #ffffff; 
   border-style: solid ;
   border-color: #120F82;
   border-width: 03px 03px 15px 10px; /* 25px top, 10px right, 4px bottom and 35px left */
   margin: 15px;
   font-family: 'Times New Roman', Times, serif;
}

#saibamais{
   text-align: center;
   color: #FF5B6B;
   /*  border-style: solid ;
   border-width: 03px 03px 0px 0px; /* 25px top, 10px right, 4px bottom and 35px left */
     
}

.imgdebloco{
    width: 20px;
    height: 30px;
    text-align: right;
    margin: 15px;
}

.button2 {
  border: none;
  color:#ffffff;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 5px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  border-style: solid ;
  border-color: #120F82;
  border-width: 04px 1px 1px 4px; /* 25px top, 10px right, 4px bottom and 35px left */
   
}

#img3{
    align-items: center;
    width: 100%;
    height: 60%;
    text-align: center;
    background-position: center;
    margin: 10px;
}